<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spaceshift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4613D5E1BA7C3AE0098DD2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4613D761BA7C3AE0098DD2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4613D811BA7C3AE0098DD2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
